<h1><%= @user.name %></h1>

<%= form_tag(controller: "category", action: "associate", method: "put") do |f| %>
    <div class="form-group">        
        <%= f.label "Área de atuação" %>
        <%= f.select :category_id, options_for_select(@category.collect { |category|
        [category.name.titleize, category.id] }, 1), {}, { id: 'category_select' } %>
    </div>
    <div class="form-group">        
        <%= f.label "Profissão" %>
        <%= f.select :category_id, options_for_select(@subcategories.collect { |subcategory|
        [subcategory.name.titleize, subcategory.id] }, 0), {}, { id: 'subcategory_select' } %>
    </div>
<% end %>