%nav
  .nav-wrapper
    .container
      %a.brand-logo{:href => "#"} Avalie.me
      %ul#nav-mobile.right.hide-on-med-and-down
        - if user_signed_in?
          %li
            = link_to edit_user_registration_path do
              = image_tag current_user.avatar.url(:thumb), :class => "vertical-middle", :title => "Minha conta"
          %li
            = link_to destroy_user_session_path, :method => :delete, id: "Sair" do
              Sair
        - else
          %li
            = link_to new_user_registration_path, id: "cadastrar" do
              Cadastrar
          %li
            = link_to new_user_session_path, id: "entrar" do
              Entrar
          
        
