%div{:style => "width: 500px"}
  = bootstrap_devise_error_messages!
  .panel.panel-default.devise-bs
    .panel-heading
      %h4= "Minha conta"
    .panel-body
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, multipart: true) do |f|
        .form-group
          = f.label :avatar
          = image_tag(current_user.avatar.url(:thumb))
          %br/
          = f.file_field :avatar
          
        %br/
        .form-group
          = f.label "Nome"
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control'
        .form-group
          = f.label :cpf
          = f.text_field :cpf, class: 'form-control'
        .form-group
          = f.label "Endereço"
          = f.text_field :address, class: 'form-control'
          = f.check_box :showaddress, class: 'form-control'
        .form-group
          = f.label "Cidade"
          = f.collection_select(:city_id, City.all, :id, :nome, include_blank: true, class: 'browser-default')
        .form-group
          = f.label "Senha atual"
          %i
            (#{t('.we_need_your_current_password_to_confirm_your_changes', default: 'Precisamos da senha atual para confirmação')})
          = f.password_field :current_password, class: 'form-control'
          
          %fieldset
            %legend  Deixe em branco se não quiser alterar 
            .form-group
            = f.label "Nova senha"
            = f.password_field :password, autocomplete: "off", class: 'form-control'
            .form-group
              = f.label "Confirmar nova senha"
              = f.password_field :password_confirmation, class: 'form-control'
        %br/
        = f.submit 'Atualizar', class: 'btn btn-primary'
  %p
    = t('.unhappy', default: 'Insatisfeito')
    ? #{link_to t('.cancel_my_account', default: 'Deletar minha conta'), registration_path(resource_name), data: { confirm: t('.are_you_sure', default: "Are you sure?") }, method: :delete}.
  = link_to t('.back', default: 'Voltar'), :back
